* {
	text-decoration: none;
}


html {
	background-color: #eee;
}

#header {color:red}
#header_1 {color:green}

h3.style {color:yellow}

p.style {background-color: blue;}

p i {
	color: white
}

p#example:first-letter{
	color: red;
}

p#example:first-line{
	color: orange;
}

.href {
	color: #5f1a1a;
}

p:hover {background-color: red}
p:active {background-color: green}

.href:hover{
	color: #1d5e19;
}

.href:active{
	color: #2b4de3;
}

.href:visited{
	color: white;
}
